Source: ros-humble-mocap4r2-marker-viz
Section: misc
Priority: optional
Maintainer: Francisco Martín <fmrico@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-geometry-msgs, ros-humble-mocap4r2-marker-viz-srvs, ros-humble-mocap4r2-msgs, ros-humble-visualization-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-mocap4r2-marker-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-geometry-msgs, ros-humble-mocap4r2-marker-viz-srvs, ros-humble-mocap4r2-msgs, ros-humble-visualization-msgs, ros-humble-ros-workspace
Description: Node for visualizing markers
